@model Entities.Dtos.LoginDto

<h2>Giriş Yap</h2>
<form asp-action="Login" method="post">
    <div>
        <label for="UserName">UserName:</label>
        <input asp-for="UserName" type="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div>
        <label for="Password">Şifre:</label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Giriş Yap</button>
</form>
