@model IEnumerable<Kategori>
<div>
    <ul class="list-group">
        @foreach (var kat in Model)
        {
            <li>
                <a asp-action="Index" asp-route-categoryId="@kat.KategoriId">@kat.KategoriName</a>
            </li>
        }
    </ul>
</div>